body{
	margin:0;
	font-family:Helvetica, Arial, sans-serif;
	color:#333333;
	font-size:12px;
	line-height:160%;}
	
#main{
	width:975px;
	margin:0px auto;}	

#logo{
	position:relative;
	top:12px;
	left:34px;
	}

#topbar{
	/*background:#d7e3f5;*/
	background:url(/images/topbarbg-175px.gif) #d7e3f5 top center no-repeat;
	height:175px;}
	
#searchbox{
	width:635px;
	height:85px;
	margin:0px auto;
	position:relative;
	top:25px;}

#search{
	width:350px;
	border:4px solid #1a56b0;
	height:25px;}
	
.desc{	
	font-size:12px;
	font-style:italic;}	

#browsecomm{
	height:36px;
	width:229px;
	position:relative;
	top:20px;}	
	

#search-btn{
	height:36px;
	width:95px;
	position:relative;
	top:20px;}	

.searchhdr{
	padding:0;
	margin:0 0 -15px 0;
	font-weight:normal;}	


.graydivide{
	height:10px;
	background:#f5f5f5;}	

#leftbar{
	width:720px;
	float:left;
	background:url(/images/border-right.gif) top right repeat-y;}

#rightbar{
	width:240px;
	float:right;
	/*border-left:1px solid #d7e3f5;*/
	padding-left:10px;}

#rubycities{
	margin:0px;
	padding:0px;}
	
#rubycompanies{
  margin: 0px;
  padding: 0px;
}

#rubycompanies li {
  margin-left:20px;
}

#rubycities li{
	margin-left:20px;}	

#footer{
	background:#b6c2d4;
	height:105px;
	color:#FFFFFF;}	

#footer p{
	font-size:10px;
	/*line-height:85px;*/}	

h1{
	font-size:24px;}	
	
h2{
	font-size:18px;}	

a{
	color:#1a56b0;}	

.user{
	height:110px;
	margin-bottom:10px;
	width:665px;
	padding:5px;}

.show_user {
  height:155px;
	margin-bottom:10px;
	width:665px;
	padding:5px;
}

.userpic{
	width:93px;
	height:93px;
	border:1px solid #1a56b0;
	float:left;
	margin-right:15px;}	
	
.userprofilepic {
	width:153px;
	height:153px;
	border:1px solid #1a56b0;
	float:left;
	margin-right:15px;  
}

.userinfo{	
	list-style-type:none;
	margin:0px;
	padding:0px;}	
	
.username, .userrank, .userlocation{
	font-size:16px;}

.rank{
	width:135px;
	height:98px;
	background:#82b4eb;
	border:1px solid #1a56b0;
	float:right;
	font-size:11px;
	padding:5px;
	}
	
.github_watchers {
  width: 655px;
  padding: 5px;
}

.rank ul{
	margin:0;
	padding:0;
	list-style-type:none;}
	

.ranknum{
	font-size:16px;
	font-weight:bold;}	

.username{
	font-weight:bold;}

.greybg{
	background:#f0f4f8;}	
	
.wrapper{
	width:975px;
	margin:0px auto;}	

.subhead{
	font-size:14px;}

#results{
	float:left;
	font-size:10px;
	width:200px;}		

#pagination{
	width:255px;
	float:right;
	margin-right:50px;
	font-size:10px;
	 }
	
#pagination ul{
	margin:0;
	padding:0;
	list-style-type:none;}	

#pagination ul li{
	display:inline;
	padding:2px 5px;
	margin:0 3px;
	border:1px solid #82b4eb;}

.pagination a{
	text-decoration:none;}		

#show_container {
  margin: 10px;
}	

.green {
  color: green;
}

.plain_link {
  text-decoration:none;
  border: none;
}

.plain_image {
  border: 0px;
}

.red {
  color: red;
}

.bolder {
  font-weight: bold;
}