body{
	margin:0;
	font-family:Helvetica, Arial, sans-serif;
	color:#333333;
	font-size:12px;
	line-height:160%;}
	
#main{
	width:975px;
	margin:0px auto;}	

#logo{
	position:relative;
	top:12px;
	left:34px;
	}

#topbar{
	/*background:#d7e3f5;*/
	background:url(/images/topbarbg.gif) #d7e3f5 top center no-repeat;
	height:105px;}
	
#searchbox{
	width:635px;
	height:85px;
	margin:0px auto;
	position:relative;
	top:25px;}

#search{
	width:350px;
	border:4px solid #1a56b0;
	height:25px;}

#browsecomm{
	height:36px;
	width:229px;
  background: transparent url(/images/btn-browsecommunity.gif) repeat scroll 0 0;	
	position: relative;
	top:20px; }		

.searchhdr{
	padding:0;
	margin:0 0 -15px 0;
	font-weight:normal;}	

.graydivide{
	height:10px;
	background:#f5f5f5;}	

#leftbar{
	width:720px;
	float:left;
	background:url(images/border-right.gif) top right repeat-y;}

#rightbar{
	width:240px;
	float:right;
	/*border-left:1px solid #d7e3f5;*/
	padding-left:10px;}

#rubycities{
	list-style-image:url(images/arrow-bullet.gif);
	margin:0px;
	padding:0px;}

#rubycities li{
	margin-left:20px;}	

#footer{
	background:#b6c2d4;
	height:105px;
	color:#FFFFFF;}	

#footer p{
	font-size:10px;
	/*line-height:85px;*/}	

h1{
	font-size:24px;}	
	
h2{
	font-size:18px;}	

a{
	color:#1a56b0;}	

.user{
	height:110px;
	margin-bottom:10px;
	width:665px;}	

.userpic{
	width:93px;
	height:93px;
	border:1px solid #1a56b0;
	float:left;
	margin-right:15px;}	

.userinfo{	
	list-style-type:none;
	margin:0px;
	padding:0px;}	
	
.username, .userrank, .userlocation{
	font-size:16px;}

.username{
	font-weight:bold;}

.greybg{
	background:#f0f4f8;}	
	
.wrapper{
	width:975px;
	margin:0px auto;}	

.subhead{
	font-size:14px;}	
	