body {
	margin:0px;
	font-family: Helvetica, Arial, sans-serif;
	color:#333333;
	font-size:12px;
	line-height:160%;
	background: #b6c2d4;
}
/* Only for supported browsers */
.rounded {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#header {
	background: #FFFFFF;
	width: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
}
#logo {
       width: 975px;
       padding-left: 70px;
       margin: 0px auto;
       padding-top: 30px;
}
#logo a img {
	margin-bottom: -11px;
}
#topbar {
	background:#FFFFFF;
	background:url(/images/topbarbg-175px.gif) #d7e3f5 top center no-repeat;
	height:175px;
}
.desc {
	font-size:12px;
	font-style:italic;
}
#page {
	width:100%;
	margin:0px auto;
	background: #FFFFFF;
}
#content {
	width: 1015px;
	margin: 0px auto;
        padding: 20px 0px;
}
#searchbox {
	width:635px;
	height:85px;
	margin:0px auto;
	position:relative;
	top:25px;
}
#search_form {
       width: 635px;
       margin: 0px;
}
#search {
	width:500px;
	border:4px solid #1a56b0;
        font-size: 200%;
}
#search-btn {
	vertical-align: bottom;
        margin-bottom: 3px;
}
#searchbox h1 {
	margin: 0px;
	padding: 0px;
	font-weight:normal;
}
#browsecomm {
	height:36px;
	width:229px;
	position:relative;
	top:20px;
}
.top_rule {
	border-top: solid 10px #f5f5f5;
}
.bottom_rule {
	border-bottom: solid 10px #f5f5f5;
}
#leftbar {
	width:720px;
	float:left;
}
#rightbar {
	width:270px;
	float:right;
	border-left:3px solid #d7e3f5;
	padding-left:20px;
}
#rubycities {
	margin:0px;
	padding:0px;
}
#rubycompanies {
	margin: 0px;
	padding: 0px;
}
#rubycompanies li {
	margin-left:20px;
}
#rubycities li {
	margin-left:20px;
}
#footer {
	background:#b6c2d4;
	height:105px;
	color:#FFFFFF;
}
#footer p {
	font-size:10px;
	width: 915px;
	margin: 0px auto;
}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
	color: #F5F5F5;
}
h1 {
	font-size:24px;
}
h2 {
	font-size:18px;
}
a {
	color:#1a56b0;
}
.user {
	width:665px;
	padding:8px;
	height: 80px;
}
.profile {
	height:155px;
	margin-bottom:10px;
        border: solid 1px #CCC;
        width: 700px;
        padding: 20px;
   
}
.userpic {
	width:78px;
	height:78px;
	border:1px solid #1a56b0;
	float:left;
	position: relative;
	margin-right:15px;
}
.profile_pic {
	width:153px;
	height:153px;
	border:1px solid #1a56b0;
	float:left;
	margin-right:15px;
}
.user_info {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.user_info .name {
	font-size:16px;
}
.userrank, .userlocation {
	font-size:12px;
}
.rank {
	width:235px;
	float:right;
	font-size:12px;
        padding-left: 15px;
        border-left: solid 1px #CCC;
}
.user .rank {
	height: auto;
	padding-top: 10px;
}
.rank .wwr_rank {
	background: url(/images/bg-wwrrank.png) no-repeat left center;
	height: 58px;
	width: 58px;
	line-height: 64px;
	text-align: center;
	font-weight: bold;
	color: #CC3333;
	font-size: 14px;
	float: left;
	margin-right: 10px;
        position: relative;
}
.rank .wwr_rank a {
	color: #CC3333;
	text-decoration: none;
}
.rank .wwr_rank .rank_change {
        font-size: 9px;
        font-weight: normal;
        padding: 2px;
        border: solid 1px #fcecc9;
        position: absolute;
        line-height: 9px;
        top: 5px;
        left: 25px;
        background: #FFF;	
}
.positive {
	color: green;
}
.negative {
	color: red;
}
.rank p {
	margin: 0px 0px 2px;
}
ul.github_rank {
	border: 1px solid #666666;
	margin: 12px 0px 0px;
	list-style: none;
	width: 100%;
	position: relative;
	height: 58px;
	padding: 0px;
}
.user .github_rank {
	width: auto;
	float: left;
	margin: 0px;
}
.user .rank {
	width: auto;
}
.rr_points {
	position: absolute;
	bottom: 1px;
	left: 1px;
	font-weight: bold;
	border-top: solid 2px #1a56b0;
	border-right: solid 2px #1a56b0;
	padding: 2px;
	background: #F5F5F5;
	font-size: 10px;
	line-height: 10px;
}
ul.github_rank li {
	margin: 5px;
	padding: 0px;
}
li.github_watchers {
	background: url(/images/logo-github.png) no-repeat center bottom;
	width: 58px;
	text-align: center;
	padding-bottom: 25px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	display: block;
}
li.github_watchers a {
	color: #000000;
	text-decoration: none;
	display: block;
	padding-bottom: 25px;
}
.userinfo .name {
	font-weight:bold;
}
.greybg {
	background:#f0f4f8;
}
.wrapper {
	width:975px;
	margin:0px auto;
	background: #FFFFFF;
}
.subhead {
	font-size:14px;
}
.results {
	float:left;
	font-size:10px;
	width:180px;
	clear:both;
}
.pagination {
	margin-right:50px;
	font-size:10px;
	clear:both;
}
.pagination a {
	display:inline;
	padding:2px 5px;
	border:1px solid #82b4eb;
	font-size:10px;
	text-decoration:none;
}
.disabled {
	display:none;
}
.current {
	padding:2px 5px;
	margin:0 3px;
	border:1px solid #82b4eb;
	background:#ebebeb;
	font-weight:bold;
}
#show_container {
	padding: 10px;
	background: #FFF;
}
.plain_link {
	text-decoration:none;
	border: none;
}
.plain_image {
	border: 0px;
}
.bolder {
	font-weight: bold;
}
.clr {
	clear: both;
	height: 1px;
}
.nav_links {
	padding-left: 10px;
	margin-top: 25px;
}