/* Meyer Reset, Modified */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RailsRankings Core Styles */
.rounded {
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}
body {
	font: 12px/120% Tahoma, "Lucida Grande", sans-serif;
	background: #2E4479 url(../images/new/bg_header.gif) repeat-x left top;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-family: "Times New Roman", Times, serif;
	line-height: 120%;
}

h1 {
	font-size:3em;
	line-height:1;
	margin-bottom:0.5em;
}

h2 {
	font: 12px Tahoma, "Lucida Grande", sans-serif;
}

h3, .results h2 {
	font-size:18px;
}

h4 {
	font-size:16px;
}

h5 {
	font-size:14px;
}

h6 {
	font-size:12px;
	font-weight:bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin:0;
}

p {
	margin:0 0 12px;
}

p.note {
	color: #777;
	font-size: 10px;
}

.content {
	width: 980px;
	position: relative;
	margin: 0px auto;
}

a:link, a:visited, a:hover, a:active {
	color: #598456;
}

a.back_link {
	clear:both;
	display:block;
	float:left;
	margin:12px 0;
	position:relative;
}

#header {
	width: 980px;
	height: 120px;
	margin: 0px auto;
	position: relative;
}

#header h1 {
	background: url(../images/new/logo_railsrankings.png) no-repeat left bottom;
	height: 66px;
	width: 293px;
	position: relative;
	margin: 0px;
	padding-top: 30px;
}

#header h1 a {
	display: block;
	height: 66px;
	text-indent: -9999px;
}

#header h2 {
	color: #555;
	margin: -12px 0px 0px;
}

#search_box {
	background: url(../images/new/bg_searchbar.gif) repeat-x top left;
	height: 50px;
	position: absolute;
	bottom: 12px;
	right: 15px;
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-topright: 12px;
	-webkit-border-top-right-radius: 12px;
	border: solid 1px #e6e6e6;
	border-bottom: none;
	width: 520px;
}

#search_box #search, #search_box #search_btn {
	float: left;
	margin-top: 10px;
}
#search_box #search {
	border:1px solid #E6E6E6;
	font-size:18px;
	height:30px;
	margin-left:30px;
	margin-right:3px;
	padding:4px;
	width:360px;
}

#page {
	float: left;
	width: 100%;
	border-bottom: 7px solid #206cbe;
	padding-bottom: 24px;
	background: #FFFFFF;
	padding-top: 24px;
}

#top_coders {
	background: #e7edee;
	height: 180px;
	width: 100%;
	border-bottom: solid 1px #c2d6ec;
}

#top_coders a.rank_list {
	width: 90px;
}

.home #top_cities, .home #top_companies {
	width: 365px;
	margin-right: 20px;
	float: left;
}
#sponsors {
	text-align: center;
	margin-bottom: 12px;
}

.sponsor_125 {
	text-align: center;
}

.results .sponsor_125, .subpage .sponsor_125 {
	display: inline;
}

.home #sponsors {
	float: left;
	width: 210px;
}

.results #top_cities, .results #top_companies, .subpage #top_cities, .subpage #top_companies {
	width: 320px;
	margin-bottom: 12px;
	float: right;
	clear: right;
}

.results #sponsors, .subpage #sponsors, .profile #sponsors {
	float: right;
	clear: right;
	width: 320px;
}

#rank_formula {
	background: #feffc3;
	padding: 18px;
	position: relative;
	margin-bottom: 24px;
}

#rank_formula h3 {
	color: #e97110;
}

#rank_formula p {
	width: 350px;
	color: #555;
}

#rank_formula img.formula {
	float: right;
}

#top_companies h3, #top_cities h3 {
	color: #2e4479;
	background: url(../images/new/bg_rankheadline.png) no-repeat left top;
	height: 29px;
	padding-left: 55px;
	line-height: 29px;
	border-bottom: 1px solid #d6d6d6;
}
#top_companies ol, #top_cities ol {
	list-style-type: decimal;
	list-style-position: inside;
}
#top_companies ol li, #top_cities ol li {
	color: #206cbe;
	background: #f6f6f6 url(../images/new/bg_listitem.gif) repeat-x left top;;
	border-bottom: solid 1px #EEE;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 15px;
}
#top_companies ol li a, #top_cities ol li a {
	color: #206cbe;
	background: #FFF;
	height: 30px;
	font-size: 12px;
	text-decoration: none;
}
#top_companies ol li em, #top_cities ol li em {
	color: #4B4B4B;
	font-size: 12px;
	font-family: Tahoma, "Lucida Grande", sans-serif;
	font-style: normal;
}

a.rank_list {
	background: url(../images/new/bg_linkstar.png) no-repeat left center;
	padding-left: 12px;
	-moz-display: inline-block; /* FF2 Fix */
	display: inline-block;
}

#top_cities a.rank_list, #top_companies a.rank_list {
	display: block;
	margin-left: 18px;
	height: 30px;
	line-height: 30px;
}

#top_coders ul {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 24px;
	height: 156px;
}

#top_coders ul li.coder  {
	text-align: center;
	width: 140px;
	float: left;
	margin-right: 10px;
	display: block;
}

#top_coders ul li.coder_line {
	display: block;
	margin-bottom: 8px;
	float: left;
	clear: right;
}
#top_coders ul li.coder_line a {
	color: #206cbe;
	text-decoration: none;
}

#top_coders ul li.coder_line span, #top_coders ul li.coder_line span a {
	color: #999;
	font-size: 10px;
	font-family: Tahoma, "Lucida Grande", sans-serif;
}

#top_coders ul li.last {
	border-right: solid 1px #CCC;
	margin-right: 24px;
}

#top_coders ul li {
	color: #206cbe;
	font-family: "Times New Roman",Times,serif;
}

.coder .photo {
	background: url(../images/new/bg_coderphoto.png);
	height: 92px;
	width: 87px;
	text-align: center;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.coder .photo img {
	margin-top: 8px;
}

.coder .photo .points {
	background: url(../images/new/bg_points.png) no-repeat center top;
	height: 16px;
	width: 70px;
	font-size: 9px;
	color: #467f32;
	line-height: 16px;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 8px;
	margin: 0px;
	padding: 0px;
}

#top_coders .coder .rank_name {
	font-size: 12px;
	color: #206cbe;
}

.coder .rank_name em {
	display: block;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
}

.coder .locale, .coder .locale a:link, .coder .locale a:visited, .coder .locale a:hover, .coder .locale a:active {
	font-family: Tahoma, "Lucida Grande", sans-serif;
	font-size: 10px;
	color: #999;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

#top_repos {
	background: #f6f6f6;
	border: 1px solid #d6d6d6;
	float: left;
	clear: left;
	margin-top: 24px;
	width: 100%;
}
#top_repos  h4 {
	margin: 24px 35px 12px;
	background: url(../images/new/bg_topreposhead.gif) no-repeat right center;
	height: 32px;
	line-height: 32px;
}

#top_repos ol li a {
	text-decoration: none;
	color: #206CBE;
}

#top_repos ol li span.repo_detail, ul.results_list li span.repo_detail {
	font-size: 10px;
	color: #333;
}

#top_repos ol li p, ul.results_list li p {
	color: #777;
}

#top_repos ol {
	float: left;
	width: 45%;
	margin: 0px 0px 24px 35px;
	list-style: decimal inside;
	color: #206CBE;
	line-height: 18px;
}

ul.results_list {
	color: #206CBE;
	line-height: 18px;
}

#top_repos ol.continued {
	margin-left: 24px;
	margin-right: 35px;
}

#top_repos ol li {
	margin-right: 24px;
	margin-bottom: 12px;
}

#top_repos a.rank_list {
	float: right;
	margin-right: 35px;
}

#search_results, #detail, #badges {
	width: 640px;
	float: left;
}

#search_results h2 {
	margin-bottom: 12px;
}

.result {
	height: 60px;
	position: relative;
	clear: both;
}

.result.odd {
	background-color: #f9f9f9;
}

.result dl.score_box {
	float: right;
	position: absolute;
	right: 10px;
	top: 8px;
}

.result h3 {
	padding-top: 10px;
}

.result h3 a {
	color: #206cbe;
	font-weight: bold;
	text-decoration: none;
}

.result p.locale {
	color: #999;
	font-size: 10px;
	font-family: Tahoma, "Lucida Grande", sans-serif;
	margin-top: 3px;
}

.result .photo {
	display:block;
	float:left;
	height:46px;
	width:46px;
	border: solid 1px #E7E7E7;
	margin: 6px 10px 0px 65px;
}
.result .photo img {
	margin: 3px 0 0 3px;
}
.result .coder .rank {
	left:25px;
	position:absolute;
	text-align:right;
	top:15px;
}
.result .rank {
	color: #2e3192;
}

.result .coder .rank em {
	font-size: 14px;
	color: #999;
}

dl.score_box {
	border: 1px solid #E7E7E7;
	height: 40px;
	background: transparent url(../images/new/bg_rankbubble.gif) repeat-x left bottom;
	min-width: 240px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

dl.score_box dt, dl.score_box dd {
	float: left;
}

dl.score_box dt {
	height: 40px;
	width: 30px;
	display: block;
	position: relative;
	text-indent: -9999px;
}
dl.score_box dt.wwr_rank {
	background: #FFF url(../images/new/icon_wwrmini.gif) no-repeat center center;
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	-webkit-border-bottom-left-radius: 12px;
}

dl.score_box dt.rr_points {
	background: url(../images/new/icon_rstar.png) no-repeat center center;
	border-left: solid 1px #E7E7E7;
}

p.rr_points {
	background: url(../images/new/icon_rstar.png) no-repeat left center;
}

dl.score_box dt.watchers {
	background: #FFF url(../images/new/icon_githubwatchers.gif) no-repeat center center;
}

dl.score_box dd {
	-moz-display: inline-block; /* FF2 Fix */
	display: inline-block;
	font: bold 14px/40px Helvetica, Geneva, Verdana, sans-serif;
	width: 40px;
}

dl.score_box.list_view {
	min-width: 115px;
}

dl.score_box.list_view dt.rr_points {
	border: none;
}

dt.wwr_rank, dd.wwr_rank_number, dt.watchers, dd.watchers_number, dt.coders, dd.coders_count {
	background-color: #FFF;
}

p.text_ad {
	background-color:#FFF7E6;
	color:#312209;
	font-size:11px;
	height:20px;
	line-height:20px;
	margin:12px 0;
	padding:0 12px;
	text-align:center;
}
p.text_ad a {
	color: #e97110;
}

.pagination {
	position: relative;
	margin: 12px 0px;
	font-size: 10px;
	text-align: right;
}

.profile .sponsor_125 {
	display:inline;
	margin-right:12px;
}

.profile #github_repos {
	float: left;
}

.profile #github_repos h4 {
	color:#777;
	margin:12px 0 0 12px;
}
.profile #github_repos table {
	margin: 12px 0px 12px 12px;
	width: 600px;
	float: left;
}
.profile #recent_commits {
	background:#FFFFFF none repeat scroll 0 0;
	float:right;
	margin:12px;
	padding:12px;
	width:300px;
}

.profile #recent_commits {
	color: #777;
}

.profile #recent_commits h5 {
	margin-bottom: 12px;
	color: #206cbe;
}

#github_repos table td, #github_repos table th {
	padding: 4px;
} 
#detail {
	position: relative;
	height:	225px;
}
#detail h3 {
	color: #206cbe;
}
#detail p.locale {
	color: #777;
}
#detail p.rank {
	background:transparent url(../images/new/bg_rankheadline.png) no-repeat scroll left center;
	float:left;
	font-size:24px;
	font-weight:bold;
	height:32px;
	line-height:30px;
	margin-right:12px;
	padding-left:60px;
}
#detail p.rank a {
	text-decoration: none;
	color: #2b3f70;
}
#detail .rails_status {
	color:#AA0000;
	font-size:8px;
	font-weight:bold;
	left:0;
	position:absolute;
	text-align:center;
	text-transform:uppercase;
	top:210px;
	width:146px;
}
#mugshot {
	float: left;
	background: transparent url(../images/new/bg_profile.png) no-repeat left top;
	width: 146px;
	height: 153px;
}
#mugshot img {
	border:1px solid #CCCCCC;
	margin:9px 0 0 9px;
}
#stats, dl#info {
	float: left;
	margin-left: 12px;
	font-size: 12px;
	color: #333;
}
#stats p {
	font-size: 11px;
	line-height: 12px;
	margin: 0px 0px 3px 0px;
}
#stats dl.score_box {
	margin-bottom: 12px;
}
#stats p.github_watchers {
	color: #777;
}
#stats p.wwr_recommend a {
	color: #a00;
}
dl#info dt, dl#info dd {
	float: left;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
}
dl#info dt {
	clear:left;
	font-weight:bold;
	margin:12px 3px 0 0;
}
dl#info dd {
	margin:12px 0 0;
}
#github_repos {
	background: #f6f6f6;
	border: 1px solid #d6d6d6;
	float: left;
	clear: both;
	margin-top: 24px;
	width: 100%;
}
#detail p.timestamp {
	color:#CCCCCC;
	font-size:9px;
	position:absolute;
	right:0;
	top:0;
}

#footer {
	background-color: #2e4479;
	border-top: 4px solid #2b3f70;
	clear: both;
	color: #FFFFFF;
	font-size: 10px;
}

#footer p {
	width: 750px;
}

#footer a:link {
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

#footer a:hover {
	text-decoration: underline;
}
#footer .content {
	background: transparent url(../images/new/logo_railsrankings_icon.png) no-repeat left top;
	margin-top: 25px;
	padding-left: 40px;
	width: 940px;
}

#footer ul {
	width: 175px;
	float: right;
}

#footer ul li {
	height: 20px;
	display: block;
	line-height: 20px;
}

#footer ul li a {
	background: url(../images/new/bg_linkstar_white.png) no-repeat left center;
	display: block;
	line-height: 20px;
	height: 20px;
	padding-left: 12px;
}

/* Help Bubble */
.bubbleInfo {
    position: absolute;
		top: 0px;
		left: 0px;
}

.popup {
    position: absolute;
    display: none;
}
.trigger {
	position: absolute;
	top: 3px;
	left: 5px;
}
