<div id="sponsors">
	<p class="note">Our Sponsors</p>
	<div class="sponsor_125">
		<img src="/images/new/placeholder_ad.gif" alt="Your Ad Here, Contact Sales@RailsRankings.com"/>
	</div>
	
	<div class="sponsor_125">
		<img src="/images/new/placeholder_ad.gif" alt="Your Ad Here, Contact Sales@RailsRankings.com"/>
	</div>
</div>