<div id="rank_formula" class="rounded">
        <img src="/images/new/railsrankings_formula.gif" alt="Rails Rankings Formula" width="477" height="83" class="formula" />
          <h3>Our Formula for Success</h3>
          <p>RailsRankings uses a unique point system to reward coders. The points for coders within each city or company are then totaled to acheive their respective ranks.</p>
    </div>