<div id="top_coders">
    <ul>
		
		<!-- First Five Coders in This Format -->
    <li class="coder">
      <div class="photo">
      	<img src="http://img.skitch.com/20090224-pshkq2qgjas23fh95b7qgcym5s.jpg" width="70" height="70" />
      	<p class="points">1,124,488</p>
      </div>
      <h4 class="rank_name"><em>1</em> Rick Olson</h4>
      <p class="locale">Portland, USA</p>
    </li>
		
		<!-- Next Five in This Format -->
		<li class="coder_line"><a href="#">Coder Name</a></li>
		
    </ul>
</div>