<div id="top_repos" class="rounded">
  	<h4>Top GitHub Repos</h4>
  	<ol>
			<!-- First 5 Repos Like This -->
    	<li><a href="#">restful-authentication <span class="repo_detail">(1661 watchers 415,250 points)</span></a>
      <p class="repo_description">Generates common user authentication code for Rails/Merb, with a full test/unit and rspec suite and optional Acts as State Machine support built-in.</p>
      </li>
    </ol>
    <ol start="6" class="continued">
			<!-- Next 5 Repos Like This -->
			<!-- start="" is depricated, but it is probably the most correct way to do this -->
      <li><a href="#">restful-authentication <span class="repo_detail">(1661 watchers 415,250 points)</span></a>
      <p class="repo_description">Generates common user authentication code for Rails/Merb, with a full test/unit and rspec suite and optional Acts as State Machine support built-in.</p>
      </li>
    </ol>
  </div>