<div id="top_cities">
	<h3>Top Cities</h3>
	<ol>
		<% @top_ten_cities.each do |city| %>
		<li><%= show_city_name(city.city) %> <em><%= "(#{pluralize(city.count,"coder")} #{number_with_delimiter(city.total,{:delimiter => ","})} points)" %></em></li>
		<% end %>
	</ol>
	<%= link_to "View All Ranked Cities", "/coders/all_cities?page=1", :class => "rank_list" %>
</div>