<div id="top_cities" class="rank_list">
        <h3>Cities</h3>
          <ol>
            <% @top_ten_cities.each do |city| %>
              <li><%= show_city_name(city.city) %></li>
            <% end %>
          </ol>
          <%= link_to "View All Ranked Cities", all_cities_coders_path %>
      </div>