<div class="home content">

	<%= render :partial => "shared/success_formula" %>
	
	<%= render :partial => "shared/top_cities" %>
	
	<%= render :partial => "shared/top_companies" %>
	
	<%= render :partial => "shared/sponsors" %>

</div>