<div>
  <p class="desc">Based on WWR rank and github watchers. Every ranked coder is counted.  Bonus points
    for being in the top 100 of WWR and 250 points for every github watcher.
  </p>
</div>
<ol id="rubycities">
<% Coder.cities.each do |city| %>
  <li><%= show_city_name(city.city) %> <%= "(#{pluralize(city.count,"coder")})" %></li>
<% end %>    
</ol>        
        