
<div class="repo_container">
<div class="repo_title"><%= link_to repo.name, repo.url %> : <span class="watchers"><%= repo.watchers %> watchers</span></div>
<div class="repo_description"><%= repo.description %></div>

</div>
