<div id="page" class="top_rule">
	<div id="content">
		<% cache :all_repos do %>
		<ol>
		  <%= render :partial  => "top_repos", :collection => GithubRepo.popular(500), :as => :repo  %>
		</ol>
		<% end %>
	</div>
</div>