<div id="page" class="top_rule">
	<div id="content">
		<% cache :all_companies do %>
		<%= will_paginate @all_companies %>
		<ul class="github_rank">
		  <% @all_companies.each_with_index do |company,index| %>
		  <li><%= determine_rank_for_paging(index) %>. <%= show_company_name(company.company_name) %> <%= "(#{pluralize(company.count,"coder")} #{number_with_delimiter(company.total,{:delimiter => ","})} points)"  %></li>
		  <% end %>
		</ul>
		<% end %>
	</div>
</div>