<div id="page" class="top_rule">
	<div id="content">
		<% cache :all_cities do %>
		  <%= render :partial  => "city_rankings", :collection => Coder.all_cities, :as => :city  %>
		<% end %>
	</div>
</div>